* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
button,
select,
textarea,
input {
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
}

body {
  background-color: #f7f7f7;
}

header {
  background-color: aliceblue;
  padding: 0 2rem;
}

header #main-nav {
  display: flex;
}
